body {
    background-color: rgb(253, 251, 251);
    font-size: 20px;
    color: black;
    line-height: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    top: 0;
    position: fixed;
    background-color: whitesmoke;
    width: 100%;
    height: 85px;

}

.lado-esquerdo {
    width: 750px;
    position: absolute;
    margin-top: 55px;
}


.lado-direito {
    width: 750px;
    position: absolute;
    margin-top: -830px;
    margin-left: 1000px;
}

#minha_foto {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.conteudo {
    margin-top: 300px;
}